# Data handling
pandas
numpy
scipy
h5py

# Machine learning
scikit-learn

# Deep learning
torch
pytorch-lightning
transformers

# Utilities
tqdm
requests
psutil

# Visualization
matplotlib
seaborn

# Jupyter notebooks
jupyter
ipykernel
